<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conheça Ourinhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <img  src="../../assets/ourinhos.jpg" />
  <ion-card-header>
    <ion-card-title>Ourinhos/SP</ion-card-title>
    <ion-card-subtitle>cidade do povo de coração de ouro</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    Ourinhos, cidade localizada no interior do estado de São Paulo, é marcada por uma história rica e diversificada que remonta aos tempos de ocupação bandeirante e ao surgimento das primeiras fazendas na região. Seu nome tem origem na abundância de um tipo de bambu chamado "ourinho" que era encontrado em suas matas.
No final do século XIX, com a expansão da cultura do café, a região de Ourinhos viu um crescimento significativo em sua economia, tornando-se um importante ponto de escoamento da produção cafeeira. Com o tempo, a cidade se desenvolveu, atraindo imigrantes de diversas partes do mundo, como italianos, japoneses e espanhóis, que contribuíram para a diversidade cultural e econômica da região.
O surgimento da Estrada de Ferro Sorocabana em 1913 impulsionou ainda mais o desenvolvimento de Ourinhos, facilitando o transporte de mercadorias e pessoas, e estabelecendo a cidade como um importante entroncamento ferroviário. Esse marco foi fundamental para consolidar a posição estratégica de Ourinhos como centro comercial e agrícola.
Durante o século XX, a cidade continuou a se expandir, com o surgimento de novas indústrias e o fortalecimento de sua agricultura diversificada, que incluía não apenas o café, mas também a produção de laranja, cana-de-açúcar e outros cultivos. Além disso, Ourinhos se destacou na produção de leite e derivados, tornando-se conhecida como "Capital do Queijo".
A educação sempre teve um papel importante em Ourinhos, com a fundação de escolas e instituições de ensino superior ao longo dos anos, incluindo a Universidade do Oeste Paulista (UNOESTE), que contribui significativamente para o desenvolvimento educacional e científico da região.
Ao longo das décadas, a cidade enfrentou desafios e momentos de transformação, como o processo de industrialização e urbanização, que trouxeram mudanças na paisagem e na vida cotidiana dos habitantes. No entanto, Ourinhos soube preservar sua identidade cultural e suas tradições, mantendo vivas festas populares, como a FAPI (Feira Agropecuária e Industrial de Ourinhos) e o Carnaval, que atraem visitantes de todo o país.
Hoje, Ourinhos é uma cidade próspera e dinâmica, que continua a crescer e se adaptar aos desafios do mundo contemporâneo. Com uma economia diversificada, uma comunidade vibrante e um rico patrimônio histórico e cultural, a cidade se destaca como um importante centro regional no interior paulista, oferecendo qualidade de vida e oportunidades para seus habitantes e visitantes.
  </ion-card-content>
</ion-card>
</ion-content>
