<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img class="costelaria" src="../../assets/costelaria.jpg" />
    <ion-card-header>
      <ion-card-title>Costelaria</ion-card-title>
      <ion-button onclick="window.open('https:/maps.app.goo.gl/unEo8fSNDdqUVZyy8')" class="btn" size="small">buscar</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Restaurante com variedade em porções e destaque à costela com diversos acompanhamentos e ambiente tranquilo.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/burguer25.jpg" />
    <ion-card-header>
      <ion-card-title>Burguer 25</ion-card-title>
      <ion-button onclick="window.open('https:/maps.app.goo.gl/ftPjU93YZYXQeFJB8')" class="btn" size="small">buscar</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/tialu.jpg" />
    <ion-card-header>
      <ion-card-title>Restaurante Tia Lú</ion-card-title>
      <ion-button onclick="window.open('https:/maps.app.goo.gl/yF2Nea7Zyvtd4ccj8')" class="btn" size="small">buscar</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/alibanesa.webp" />
    <ion-card-header>
      <ion-card-title>A libanesa cv</ion-card-title>
      <ion-button onclick="window.open('https:/maps.app.goo.gl/StALbBBEvfsY6GHc6')" class="btn" size="small">buscar</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/mariafumaca.jpg" />
    <ion-card-header>
      <ion-card-title>Maria Fumaça Restaurante</ion-card-title>
      <ion-button onclick="window.open('https:/maps.app.goo.gl/Y6BZsNzi2zPknXVV8')" class="btn" size="small">buscar</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

 
</ion-content>
